body {
  margin: 0;
  background-color: #edf2f4;
}

.top-header {
  background-color: #FAFCFC;
  padding: 20px;
}

.header {
  padding-bottom: 10px;
}

.lbl-total {
  margin: 0;
  color: #2B2D42;
}


#section-to-print-type1,
#section-to-print-type2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* background-color: #EEEEEE; */
  margin: 0 auto;
  padding: 20px;
}


.file-container {
  display: inline-block;
  position: relative;
  width: 250px;
}

.mask {
  position: absolute;
  height: 1.5em;
  width: 190px;
  top: -1px;
  left: 87px;
  background-color: #FAFCFC;
  color: #2B2D42;
  padding-left: 3px;
}


.header {
  display: grid;
  grid-template: auto / 280px 500px auto;
}

.col-2 {
  /* border: 1px solid magenta; */
  position: relative;
}
