
* {
  box-sizing: border-box;
}

/* TYPE ONE */

.type-one {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  margin: 2px;
  /* overflow: hidden; */
  background-color: white;
  font-size: 15px;
  font-family: Arial;
  width: 15em;
  height: 15em;
  text-align: center;
}

.type-one .top {
  background-color: black;
  color: white;
  height: 25%;
  font-weight: bold;
}

.type-one .price {
  font-size: 2.2em;
  height: 65%;
  padding: 0.1em 0;
}

.type-one .points {
  font-size: 0.8em;
  height: 35%;
  padding-top: 0.2em;
}

.type-one [class$="-bottom"] {
  height: 75%;
}

.type-one .left-bottom {
  float: left;
  width: 40%;
  padding: .2em 0;
}

.type-one .desc {
  height: 90%;
  line-height: 1.3;
  overflow: hidden;
  word-break: break-all;
}

.type-one .size {
  height: 10%;
}

.type-one .right-bottom {
  float: right;
  width: 60%;
  padding-top: .2em;
  font-size: .8em;
  font-weight: 700;
}

.type-one .m-code {
  overflow: hidden;
  height: 10%;
}

.type-one .code {
  height: 10%;
}

.type-one .qr-code {
  height: 80%;
  padding: 0.2em 0;
}

.type-one .qr {
  width: 120px;
  height: 120px;
  margin: auto;
}


/* TYPE TWO */

.type-two {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  margin: 2px;
  background-color: white;
  font-size: 13px;
  width: 188.97637795px;
  height: 94.488188976px;
  padding: 0 .5em;
  border-radius: 1em;
}

.type-two > div {
  float: left;
  width: calc(4.8em - 0.375em);
  height: 100%;
}

.type-two .price {
  padding-top: .9em;
  text-align: center;
  letter-spacing: -.06em;
  height: 35%;
}

.type-two .micro-qr {
/*   padding: .2em; */
  height: 65%;
}

.type-two .qr {
  height: 3.5em;
  width: 3.5em;
  margin: auto;
}


/* TYPE 01 */
.type-1 {
  margin-bottom: 5px;
}

.type-1 .container {
  background-color: white;
  /* border: 1px solid black; */
  /* border-radius: 5px; */
  width: 225px;
  height: 225px;
  padding: 0 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.type-1 h2,
.type-1 p {
  margin: 0;
}

.type-1 h2 {
  font-size: 2.5rem;
}

.type-1 p {
  font-size: .8rem;
  text-align: center;
}

.type-1 .barcode {
  width: 100%;
  height: 35px;
}

.type-1 .price {
  font-weight: 400;
}
.type-1 .cat {
  font-style: italic;
  font-weight: 500;
}

.type-1 .desc {
  height: 2em;
}

.type-1 .desc,
.type-1 .attr,
.type-1 .code {
  font-weight: 500;
}



/* TYPE 02 */
.type-2 {
  background-color: white;
  width: 5cm;
  height: 2.5cm;
}

.type-2 h2,
.type-2 p {
  margin: 0;
}


.type-2 p {
  font-size: .4rem;
  font-weight: 400;
}

.type-2 .price {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: .5px;
}

.type-2 .cat {
  font-style: italic;
  font-weight: 700;
}

.type-2 .code {
  font-weight: 700;
}

.type-2 .container {
  display: inline-grid;
  grid-template: auto / 2fr 1fr;
  height: 100%;
  width: 100%;
}

.type-2 .desc {
  margin-top: 3px;
  height: 25px;
}


.type-2 .code {
  margin-top: .5em;
}

.type-2 .left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.type-2 .right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* TYPE 03 */

.type-3 h2,
.type-3 p {
  margin: 0;
}

.type-3 .price {
  font-size: .8rem;
  font-weight: 400;
}

.type-3 .code {
  font-size: .5rem;
}

.type-3 {
  width: 5cm;
  height: 2.5cm;
}

.type-3 .container {
  display: grid;
  background-color: white;
  grid-template: auto / repeat(3, 1fr);
  height: 100%;
  width: 100%;
}

.type-3 .container > div {
  /* border-right: 0.5px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.type-3 .container div:last-child {
  border: 0;
}

.type-3 .barcode {
  width: 45px;
  height: 45px;
}

/* TYPE 04 */
.type-4 h2,
.type-4 p {
  margin: 0;
}

.type-4 .price {
  font-size: .9rem;
}

.type-4 .code {
  font-size: .5rem;
}

.type-4 .container {
  background-color: white;
  width: 5cm;
  height: 2.5cm;
  display: grid;
  grid-template: auto / repeat(3, 1fr);
}

.type-4 .block {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.type-4 .barcode {
  width: 135%;
  height: 15px;
}

.type-4 .price,
.type-4 .barcode,
.type-4 .code {
  position: absolute;
  transform: rotate(270deg) ;
}

.type-4 .price {
  width: 2.2cm;
  text-align: center;
  left: -30px;
}

.type-4 .barcode {
  left: -8px;
}

.type-4 .code {
  width: 2.2cm;
  text-align: center;
  right: -30px;
}


/* PRINTER */
@media print {
  body {
    margin: 0;
  }
  body * {
    visibility: hidden;
  }
  header,footer {
    display: none;
  }

  #section-to-print, #section-to-print * {
    visibility: visible;
  }

  #section-to-print {
    display: inline-block;
    /* grid-template: auto / 1fr 1fr; */
    /* width: calc(10cm + 3.5mm); */
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
  }


  .type-1,
  .type-2,
  .type-3,
  .type-4 {
    /* display: inline-block; */
    margin: 0;
    -webkit-print-color-adjust: exact;
    /* margin-bottom: 3mm; */
  }

/*
  #section-to-print > div:nth-child(odd){
    margin-right: 3mm;
  }

  #section-to-print > div:nth-last-child(1),
  #section-to-print > div:nth-last-child(2) {
    margin-bottom: 0;
  } */

  /* .type-2 {
    margin-top: -4mm;
  } */

}
