
div {
  box-sizing: border-box;
}

/* TYPE ONE */

.type-one {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  margin: 2px;
  background-color: white;
  font-size: 15px;
  font-family: Arial;
  width: 15em;
  height: 15em;
  text-align: center;
}

.type-one .top {
  background-color: black;
  color: white;
  height: 25%;
  font-weight: bold;
}

.type-one .price {
  font-size: 2.2em;
  height: 65%;
  padding: 0.1em 0;
}

.type-one .points {
  font-size: 0.8em;
  height: 35%;
  padding-top: 0.2em;
}

.type-one [class$="-bottom"] {
  height: 75%;
}

.type-one .left-bottom {
  float: left;
  width: 40%;
  padding: .2em 0;
}

.type-one .desc {
  height: 90%;
  line-height: 1.3;
  overflow: hidden;
  word-break: break-all;
}

.type-one .size {
  height: 10%;
}

.type-one .right-bottom {
  float: right;
  width: 60%;
  padding-top: .2em;
  font-size: .8em;
  font-weight: 700;
}

.type-one .m-code {
  overflow: hidden;
  height: 10%;
}

.type-one .code {
  height: 10%;
}

.type-one .qr-code {
  height: 80%;
  padding: 0.2em 0;
}

.type-one .qr {
  width: 120px;
  height: 120px;
  margin: auto;
}


/* TYPE TWO */

.type-two {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  margin: 2px;
  background-color: white;
  font-size: 13px;
  width: 188.97637795px;
  height: 94.488188976px;
  padding: 0 .5em;
  border-radius: 1em;
}

.type-two > div {
  float: left;
  width: calc(4.8em - 0.375em);
  height: 100%;
}

.type-two .price {
  padding-top: .9em;
  text-align: center;
  letter-spacing: -.06em;
  height: 35%;
}

.type-two .micro-qr {
/*   padding: .2em; */
  height: 65%;
}

.type-two .qr {
  height: 3.5em;
  width: 3.5em;
  margin: auto;
}


@media print {
  body * {
    visibility: hidden;
  }
  header,footer {
    display: none;
  }

  #section-to-print, #section-to-print * {
    visibility: visible;
  }

  #section-to-print {
    position: absolute;
    left: 0;
    top: 0;
  }

  .type-one  {
    display: block;
    margin: 0;
    -webkit-print-color-adjust: exact;
  }

  .type-two  {
    display: block;
    margin: 0;
    -webkit-print-color-adjust: exact;
  }
}
